<strong>Olá, {{ name }}</strong>
<p>Sua entrega foi cancelada pela distribuidora.</p>
<p>
  <strong>Nome do produto:</strong> {{ product }} <br>
  <br>
  <small>
    Para mais informações entre em contato conosco!
  </small>
</p>
