<strong>Olá, {{ name }}</strong>
<p>Você possui uma nova encomenda cadastrada.</p>
<p>
  <strong>Nome do produto:</strong> {{ product }} <br>
  <br>
  <small>
    O produto já se encontra disponível para retirada!
  </small>
</p>
